backcall
bitarray
boto3
botocore
certifi
chardet
decorator
docutils
idna
ipdb
ipython
ipython-genutils
jedi
jmespath
numpy
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
Pygments
python-dateutil
pytorch-pretrained-bert
regex
requests
s3transfer
scipy
torch
torchvision
traitlets
urllib3
wcwidth
